<header></header>
<app-menu></app-menu>
<main>
    <section class="page-header">
        <div class="left">
            <span class="page-title">{{pageTitle}}</span>
            <span> | </span>
            <span><a routerLink="/cohorts/list">Back to list ...</a></span>
        </div>
        <div class="right">
            <span class="message"></span>
        </div>
    </section>
    <section class="component-content">
        <table class="table table-sm" *ngIf="cohort">
            <tr>
                <td>Id:</td>
                <td>{{cohort.id}}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input [(ngModel)]="cohort.name" [disabled]="readonly" type="text" size="35"></td>
            </tr>
            <tr>
                <td>Instructor(s):</td>
                <td>
                    <select size="5">
                        <option *ngFor="let i of instructors">{{ i }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Begin Date:</td>
                <td><input [ngModel]="cohort.beginDate | date:'yyyy-MM-dd'" (ngModelChange)="cohort.beginDate = $event"
                        [disabled]="readonly" type="date" size="25"></td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td><input [ngModel]="cohort.endDate | date:'yyyy-MM-dd'" (ngModelChange)="cohort.endDate = $event"
                        [disabled]="readonly" type="date" size="25"></td>
            </tr>
            <tr>
                <td>Demo Day:</td>
                <td><input [ngModel]="cohort.demoDay | date:'yyyy-MM-dd'" (ngModelChange)="cohort.demoDay = $event"
                        [disabled]="readonly" type="date" size="25"></td>
            </tr>
            <tr>
                <td>Calendar:</td>
                <td><a routerLink="/calendars/detail/{{calendarId}}">Calendar Display</a></td>
            </tr>
            <tr>
                <td>Active:</td>
                <td><input [(ngModel)]="cohort.active" [disabled]="readonly" type="checkbox" size="10"></td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td><input [(ngModel)]="cohort.capacity" [disabled]="readonly" type="number" size="15"></td>
            </tr>
            <tr>
                <td>Created:</td>
                <td>{{cohort.created | date:'short'}}</td>
            </tr>
            <tr>
                <td>Updated:</td>
                <td>{{cohort.updated | date:'short'}}</td>
            </tr>
            <tr *ngIf="!readonly">
                <td colspan="2">
                    <button (click)="save()" class="btn btn-primary btn-sm">Save</button>
                </td>
            </tr>
            <tr *ngIf="readonly">
                <td colspan="2">
                    <span><button (click)="edit()" class="btn btn-warning btn-sm">Edit</button></span>
                    <span> | </span>
                    <span><button (click)="delete()" class="btn btn-danger btn-sm">Delete</button></span>
                    <span *ngIf="verified"> |
                        <span>
                            <button (click)="verify()" class="btn btn-danger btn-sm">Verify Delete</button>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>