<header></header>
<app-menu></app-menu>
<main>
    <section>
        <h3>BCMS Development Team</h3>
        <div>
            Boot Camp Management System development team is a set of talented software
            developers with the complete set of leading-edge skills to build BCMS.
        </div>
        <div>
            Greg Doud, Sr. Instructor at MAX Technical Training is the architect and
            lead developer on the project. A number of people that have graduated
            the .Net or Java Boot Camps are joined the team to contribute to the work.
        </div>
        <div>
            <span>The BCMS Development Team:</span>
            <table class="table table-sm table-borderless">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Contribution</th>
                </tr>
                <tr>
                    <td>Greg Doud</td>
                    <td>Architect & Lead Developer</td>
                    <td>Architected, designed, and built the majority of BCMS</td>
                </tr>
                <tr>
                    <td>Sarah Bode</td>
                    <td>Developer I</td>
                    <td>Development and graphics</td>
                </tr>
            </table>
        </div>
        <div>
            <a routerLink="/about">About BCMS</a> | 
            <a routerLink="/revisions">Revision History</a>
        </div>    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>