<header></header>
<app-menu></app-menu>
<main>
    <h1>Boot Camp Management System (BCMS)</h1>
    <p>BCMS is the system that manages the boot camps for MAX Technical Training
        and this page describes the various functions students of those boot camps
        need to know
    </p>
    
    <div *ngIf="userIsRootAdminOrInstructor">

        <div class="staff-divider">STAFF ONLY</div>
        
        <div id="left">
            <ng-container *ngFor="let topic of staffHelp.left">
                <div class="section">{{ topic.section }}</div>
                <p *ngFor="let p of topic.paragraphs">
                    <span [innerHTML]=p></span>
                </p>
                <hr>
            </ng-container>
        </div> <!-- left -->
        
        <div id="right">
            <ng-container *ngFor="let topic of staffHelp.right">
                <div class="section">{{ topic.section }}</div>
                <p *ngFor="let p of topic.paragraphs">
                    <span [innerHTML]=p></span>
                </p>
                <hr>
            </ng-container>
        </div> <!-- left -->
        
    </div>
    
    <div>

        <div *ngIf="userIsRootAdminOrInstructor" class="student-divider">STUDENTS</div>

        <div id="left">
            <ng-container *ngFor="let topic of studentsHelp.left">
                <div class="section">{{ topic.section }}</div>
                <p *ngFor="let p of topic.paragraphs">
                    <span [innerHTML]=p></span>
                </p>
                <hr>
            </ng-container>
        </div> <!-- left -->

        <div id="right">
            <ng-container *ngFor="let topic of studentsHelp.right">
                <div class="section">{{ topic.section }}</div>
                <p *ngFor="let p of topic.paragraphs">
                    <span [innerHTML]=p></span>
                </p>
                <hr>
            </ng-container>
        </div> <!-- left -->

    </div>
    

</main>
<footer>
    <app-footer></app-footer>
</footer>