<header></header>
<app-menu></app-menu>
<main>
    <section class="component-content">
        <h4>Revision History</h4>
        <div>
            <h5>version 0.7</h5>
            <ul>
                <li>Provides cohort access to instructors</li>
                <li>Includes all IP addresses of remote students for .Net & Java BCs</li>
                <li>Added links to return to cohort list from attendance report and student checkinout</li>
                <li>Added config option to disable IP checking</li>
            </ul>
        </div>
        <div>
            <h5>version 0.6.2</h5>
            <ul>
                <li>Limit instructor to cohorts they teach</li>
            </ul>
        </div>
        <div>
            <h5>version 0.6.1</h5>
            <ul>
                <li>Sorted attendance report by student lastname</li>
                <li>Sorted attendance records in report by check-in time</li>
                <li>Changed all database accesss in report generation to async</li>
            </ul>
        </div>
        <div>
            <h5>version 0.6</h5>
            <ul>
                <li>Created the attendance report for a cohort</li>
            </ul>
        </div>
        <div>
            <h5>version 0.5.1</h5>
            <ul>
                <li>Fixed datetime retrieval for Eastern Time format</li>
            </ul>
        </div>
        <div>
            <h5>version 0.5</h5>
            <ul>
                <li>Display failed login message</li>
                <li>Capture attendance datetime in Eastern Time</li>
            </ul>
        </div>
        <div>
            <h5>version 0.4</h5>
            <ul>
                <li>Added Feedback that allows users to record comments and suggested enhancements</li>
                <li>Limit users to editing only feedback they authored</li>
                <li>Can lock a feedback to restict further editing.</li>
                <li>Root & Admin uses can check in/out users and mark absent and/or excused without pin</li>
                <li>Fixed issue allowing a student to access check in/out outside of MAX</li>
            </ul>
        </div>
        <div>
            <h5>version 0.1</h5>
            <ul>
                <li>Added Cohort definition for a boot camp</li>
                <li>Added IsRoot, IsAdmin, IsStaff, IsInstructor, IsStudent roles</li>
            </ul>
        </div>
    </section>
</main>