<header></header>
<app-menu></app-menu>
<main>
    <section class="component-content">
        <h4>Revision History</h4>
        <div>
            <h5>version 1.4.1</h5>
            <ul>
                <li>Added percent score to student evaluation list</li>
            </ul>
        </div>
        <div>
            <h5>version 1.4</h5>
            <ul>
                <li>Inactive students don't display check-in/out button</li>
                <li>Inactive students evals don't display in the list of all evals</li>
                <li>Changed actions on eval list to not display take/review on template evals and show review on completed evals</li>
                <li>Added link to return to eval(a) from eval review if root/admin/instructor</li>
            </ul>
        </div>
        <div>
            <h5>version 1.3.1</h5>
            <ul>
                <li>Fixed duplicate check-ins without a check-out</li>
            </ul>
        </div>
        <div>
            <h5>version 1.3</h5>
            <ul>
                <li>Instructors can create and maintain their own evaluations</li>
                <li>Instructors can modify assessment scores for students assigned any evaluation regardless of
                    evaluation owner</li>
                <li>Instructors can only create or modify questions in evaluations they own</li>
                <li>Check that Role exists for User in System.Service</li>
                <li>Set IsTemplate default to True on create</li>
            </ul>
        </div>
        <div>
            <h5>version 1.2.1</h5>
            <ul>
                <li>Bump websocket-extensions from 0.1.3 to 0.1.4</li>
                <li>Bump npm-registry-fetch from 4.0.2 to 4.0.5</li>
                <li>Bump lodash from 4.17.15 to 4.17.19</li>
                <li>Bump elliptic from 6.5.2 to 6.5.3</li>
            </ul>
        </div>
        <div>
            <h5>version 1.2</h5>
            <ul>
                <li>Fixed #56 Display only active cohorts</li>
                <li>Fixed #57 Show success message when assigning an evaluation/assessment to a cohort</li>
                <li>Fixed #64 display only active users by default</li>
                <li>Fixed #67 Fix calculated grade on assessments allowing bonus questions</li>
                <li>Upgrade to .Net Core 3.1 (LTS)</li>
                <li>Set AspNetCoreHostingModel to OutOfProcess</li>
            </ul>
        </div>
        <div>
            <h5>version 1.1.1</h5>
            <ul>
                <li>Fixed #53 cyclical reducancy error on assessment</li>
            </ul>
        </div>
        <div>
            <h5>version 1.1</h5>
            <ul>
                <li>Added Commentary</li>
                <li>Added refresh link for assessment list</li>
                <li>Default sort of assessment list to id descending</li>
                <li>Added a verify button when students complete an evaluation/assessment</li>
                <li>Added DONE to Evaluation edit</li>
                <li>Fixed search of evaluation list by student name</li>
            </ul>
        </div>
        <div>
            <h5>version 1.0</h5>
            <ul>
                <li>1st production release!</li>
                <li>Created db log support</li>
                <li>Limit kb maintenance to root, admin, instructor. Display to all</li>
                <li>Changed logo to red & while on navy blue</li>
                <li>Adjusted menu for students and instructors</li>
                <li>Updated README.md for new team developers</li>
            </ul>
        </div>
        <div>
            <h5>version 0.9</h5>
            <ul>
                <li>Added Kb and KbCategory to replace Feedback for help. (#4)</li>
                <li>Feedback has been deprecated</li>
                <li>Added hosting company in footer</li>
                <li>Changed to use "rights" key for footer</li>
                <li>Created development team page from about page</li>
            </ul>
        </div>
        <div>
            <h5>version 0.8.1</h5>
            <ul>
                <li>Expanded answers to questions to 255 characters.</li>
                <li>Rmoved warning message on pre-filled login</li>
            </ul>
        </div>
        <div>
            <h5>version 0.8</h5>
            <ul>
                <li>Added evaluations and assessments (#7,#9):</li>
                <li>- Added missing footer to questions list and form</li>
                <li>- Changed external IP console display from WARN to DEBUG</li>
                <li>- Created 'Evaluation take' so students can complete evaluations</li>
                <li>- Completed evaluation generates an assessment item</li>
                <li>- Can assign a template evaluation to all in a cohort</li>
                <li>- Formatted evaluation review display whether topic eval or assessment</li>
                <li>Expand UI config key length to 50 and data length to 80 (#31)</li>
            </ul>
        </div>
        <div>
            <h5>version 0.7.2a</h5>
            <ul>
                <li>Fixed incorrect color on checked-in student.</li>
            </ul>
        </div>
        <div>
            <h5>version 0.7.2</h5>
            <ul>
                <li>Default feedback text and response to empty string.</li>
                <li>Reduce the textarea of text and response to 3 lines.</li>
                <li>Change the feedback form from "Name" to "Category".</li>
                <li>Remove text and response from displaying on the list.</li>
                <li>Change category to select list loaded from config category.n</li>
            </ul>
        </div>
        <div>
            <h5>version 0.7.1</h5>
            <ul>
                <li>Display external IP on login page whether restricted or not.</li>
            </ul>
        </div>
        <div>
            <h5>version 0.7</h5>
            <ul>
                <li>Provides cohort access to instructors</li>
                <li>Includes all IP addresses of remote students for .Net & Java BCs</li>
                <li>Added links to return to cohort list from attendance report and student checkinout</li>
                <li>Added config option to disable IP checking</li>
            </ul>
        </div>
        <div>
            <h5>version 0.6.2</h5>
            <ul>
                <li>Limit instructor to cohorts they teach</li>
            </ul>
        </div>
        <div>
            <h5>version 0.6.1</h5>
            <ul>
                <li>Sorted attendance report by student lastname</li>
                <li>Sorted attendance records in report by check-in time</li>
                <li>Changed all database accesss in report generation to async</li>
            </ul>
        </div>
        <div>
            <h5>version 0.6</h5>
            <ul>
                <li>Created the attendance report for a cohort</li>
            </ul>
        </div>
        <div>
            <h5>version 0.5.1</h5>
            <ul>
                <li>Fixed datetime retrieval for Eastern Time format</li>
            </ul>
        </div>
        <div>
            <h5>version 0.5</h5>
            <ul>
                <li>Display failed login message</li>
                <li>Capture attendance datetime in Eastern Time</li>
            </ul>
        </div>
        <div>
            <h5>version 0.4</h5>
            <ul>
                <li>Added Feedback that allows users to record comments and suggested enhancements</li>
                <li>Limit users to editing only feedback they authored</li>
                <li>Can lock a feedback to restict further editing.</li>
                <li>Root & Admin uses can check in/out users and mark absent and/or excused without pin</li>
                <li>Fixed issue allowing a student to access check in/out outside of MAX</li>
            </ul>
        </div>
        <div>
            <h5>version 0.1</h5>
            <ul>
                <li>Added Cohort definition for a boot camp</li>
                <li>Added IsRoot, IsAdmin, IsStaff, IsInstructor, IsStudent roles</li>
            </ul>
        </div>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>