<app-menu></app-menu>
<header></header>
<div>
    <span>{{pageTitle}}</span>
    <span> | </span>
    <span><a *ngIf="question.evaluation" routerLink="/quests/list/{{question.evaluation.id}}" class="">Back to list ...</a></span>
</div>
<section class="component-content">
    <table class="table table-sm">
        <tr>
            <td>Id:</td>
            <td><input [(ngModel)]="question.id" type="number" disabled size="10" name="question.id"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input [(ngModel)]="question.category" type="text" [disabled]="readonly" size="15" name="question.category"></td>
        </tr>
        <tr>
            <td>Question:</td>
            <td><textarea id="qtext" [(ngModel)]="question.questionText" [disabled]="readonly" rows="3" name="question.questionText"></textarea></td>
        </tr>
        <tr>
            <td>A:</td>
            <td>
                <textarea class="qans" [(ngModel)]="question.answerTextA" [disabled]="readonly" rows="1" name="question.answerTextA"></textarea>
                <span class="align-top"></span>
            </td>
        </tr>
        <tr>
            <td>B:</td>
            <td>
                <textarea class="qans" [(ngModel)]="question.answerTextB" [disabled]="readonly" rows="1" name="question.answerTextB"></textarea>
                <span class="align-top"></span>
            </td>
        </tr>
        <tr>
            <td>C:</td>
            <td>
                <textarea class="qans" [(ngModel)]="question.answerTextC" [disabled]="readonly" rows="1" name="question.answerTextC"></textarea>
                <span class="align-top"></span>
            </td>
        </tr>
        <tr>
            <td>D:</td>
            <td>
                <textarea class="qans" [(ngModel)]="question.answerTextD" [disabled]="readonly" rows="1" name="question.answerTextD"></textarea>
                <span class="align-top"></span>
            </td>
        </tr>
        <tr>
            <td>E:</td>
            <td>
                <textarea class="qans" [(ngModel)]="question.answerTextE" [disabled]="readonly" rows="1" name="question.answerTextE"></textarea>
                <span class="align-top"></span>
            </td>
        </tr>
        <tr>
            <td>Answer:</td>
            <td>
                <select [(ngModel)]="question.correctAnswerNbr" [disabled]="readonly" >
                    <option value=-1 selected>&ngsp;</option>
                    <option value=0>A</option>
                    <option value=1>B</option>
                    <option value=2>C</option>
                    <option value=3>D</option>
                    <option value=4>E</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span  *ngIf="!readonly">
                    <button (click)="save()" class="btn btn-primary">Save</button>
                </span>
                <span *ngIf="readonly">
                    <button (click)="edit()" class="btn btn-warning">Edit</button>
                     | <button (click)="delete()" class="btn btn-danger">Delete</button>
                    <span *ngIf="verified">
                        | <button (click)="verify()" class="btn btn-danger">Verify</button>
                    </span>
                </span>
            </td>
        </tr>
    </table>
</section>
