<header></header>
<app-menu></app-menu>
<main>
    <section class="page-header">
        <div class="left">
            <span class="page-title">{{pageTitle}}</span>
            <span *ngIf="_loggedInUser && (_loggedInUser.role.isRoot || _loggedInUser.role.isAdmin)"> |
                <span *ngIf="commentary">
                    <a routerLink="/commentaries/list/{{commentary.studentId}}">Back to list ...</a>
                </span>
            </span>
        </div>
        <div class="right">
            <span class="message"></span>
        </div>
    </section>
    <section class="component-content">
        <form>
            <table class="table table-sm" *ngIf="commentary">
                <tr>
                    <td id="eid">Id:</td>
                    <td>{{commentary.id}}</td>
                </tr>
                <tr *ngIf="_loggedInUser && (_loggedInUser.role.isRoot || _loggedInUser.role.isAdmin || _loggedInUser.role.isInstructor)">
                    <td>Commentator:</td>
                    <td *ngIf="commentary && commentary.lastAccessUser">
                        <input [ngModel] = "commentator"  id="ecommentator" type = "text" size="20" name="lastname" disabled>
                    </td>
                </tr>                
                <tr>
                    <td>Text:</td>
                    <td>
                        <textarea  id="etext" [(ngModel)]="commentary.text" [disabled]="readonly" cols="85" rows="2" name="text"></textarea>   
                    </td>
                </tr>
                <tr>
                    <th>Sensitive:</th>
                    <td>
                    <input [(ngModel)] = "commentary.sensitive" type="checkbox" name="sensitive">
                    </td>
                </tr>
                <tr>
                    <td>Created:</td>
                    <td>{{commentary.created | date:'short'}}</td>
                </tr>
                <tr>
                    <td>Updated:</td>
                    <td>{{commentary.updated | date:'short'}}</td>
                </tr>
                <tr *ngIf="!readonly">
                    <td colspan="2">
                        <button (click)="save()" class="btn btn-primary btn-sm">Save</button>
                    </td>
                </tr>
                <tr *ngIf="readonly">
                    <td colspan="2">
                        <span><button (click)="edit()" class="btn btn-warning btn-sm">Edit</button></span>
                        <span> | </span>
                        <span><button (click)="delete()" class="btn btn-danger btn-sm">Delete</button></span>
                        <span *ngIf="verified"> |
                            <span>
                                <button (click)="verifyDelete()" class="btn btn-danger btn-sm">Verify Delete</button>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>
