div.menu {
    background-color: #454545;
}
div.left, div.right {
    display: inline-block;
}
div.left {
    width: 70%;
}
div.right {
    width: 29%;
    text-align: right;
    color: silver;
}
nav {
}
ul {
    margin: 0;
    padding: 0;
}
.username {
    color: yellow;
}
.username a {
    color: white;
    text-decoration: none;
}