button#refresh {
    padding: 0;
}
tr.log-info {
    background-color: transparent;
}
tr.log-warn {
    background-color: #ffffaa;
}
tr.log-error {
    background-color: #ffedcc;
}
tr.log-fatal {
    background-color: #ffcccc;
}
tr.log-trace {
    background-color: transparent;
}
tr.log-debug {
    background-color: transparent;
}
