<header></header>
<app-menu></app-menu>
<div>
    <span>{{pageTitle}}</span>
    <span> | </span>
    <span><a routerLink="/users/create" class="">Create</a></span>
    <span> | </span>
    <span><input [(ngModel)]="searchCriteria" class="searchbox" type="text" placeholder="Search"></span>

</div>
<main>
    <table class="table table-sm">
        <thead>
            <tr>
                <td class="sortable"><a (click)="sort('id')">Id</a></td>
                <td class="sortable"><a (click)="sort('lastname')">Name</a></td>
                <td class="sortable"><a (click)="sort('username')">Username</a></td>
                <td class="sortable"><a (click)="sort('cellPhone')">Phones (cell/work)</a></td>
                <td class="sortable"><a (click)="sort('email')">Email</a></td>
                <td class="sortable"><a (click)="sort('pinCode')">Pin</a></td>
                <td class="sortable"><a (click)="sort('roleName')">Role</a></td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users | userSrch:searchCriteria | sort:sortCriteria:ascOrder">
                <td>{{u.id}}</td>
                <td>{{u.firstname}} {{u.lastname}}</td>
                <td>{{u.username}}</td>
                <td>{{u.cellPhone}} / {{u.workPhone}}</td>
                <td>{{u.email}}</td>
                <td>{{u.pinCode}}</td>
                <td>{{u.role.name}}</td>
                <td>
                    <span><a routerLink="/users/detail/{{u.id}}" class="">Detail</a></span>
                    <span> | </span>
                    <span><a routerLink="/users/edit/{{u.id}}" class="">Edit</a></span>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<footer>
    <app-footer></app-footer>
</footer>