section {
    text-align: center;
}
div.div-dialog {
    width: 600px;
    margin: 30px auto;
    padding: 20px 0;
    border: 1px solid silver;
}
.dialog-title {
    padding: 20px 0;
}
.message {
    margin: 10px 0 0 0;
    color: red;
    font-weight: bold;
}
.ip {
    font-size: 1rem;
}