<header></header>
<main>
    <section>
        <div class="div-dialog">
            <form>
                <div class="dialog-title">Boot Camp Management System (BCMS)</div>
                <div class="username-field">
                    <label>Username: <input [(ngModel)]="user.username" type="text" autocomplete="username" name="username"></label>
                </div>
                <div class="password-field">
                    <label>Password: <input [(ngModel)]="user.password" type="password" autocomplete="new-password" name="password"></label>
                </div>
                <div>
                    <button (click)="login()" class="btn btn-primary btn-sm">Login</button>
                </div>
                <div class="message">
                    <span>{{message}}</span>
                </div>
            </form>
        </div>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>