input {
    text-align: center;
}
.component {
    text-align: center;
}
.content {
    display: inline-block;
    margin: 20px auto;
    padding: 25px;
    width: 50%;
    border: 1px solid silver;
    font-size: 2em;
}
.message {
    color: red;
    font-weight: bold;
}