.day {
    display: inline-block;
    width: 200px;
    border: 1px solid silver;
    margin: 0;
    height: 200px;
    vertical-align: top;
    font-size: 0.9em;
    padding: 5px;
}
.date {
    font-weight: bold;
    border-bottom: 1px solid silver;
}
.notes {
    font-style: italic;
}
.bgNormal {
    background-color: inherit;
    border-width: 1px;
    background-color: inherit;
}
.bgDanger {
    border-color: rgb(245, 192, 192);
    border-width: 3px;
    background-color: rgb(245, 192, 192);
    border-bottom: 1px solid silver;
}
.bgSuccess {
    border-color: rgb(201, 250, 201);
    border-width: 3px;
    background-color: rgb(201, 250, 201);
    border-bottom: 1px solid silver;
}