<header></header>
<app-menu></app-menu>
<main>
    <section>
        <h3>About BCMS</h3>
        <p>
            Boot Camp Management System makes it easy to manage the entire process of deliving a boot camp cohort. The system
            allows administration, staff, instructors and students to keep their focus on student learning instead of all the 
            related administration.
        </p>
        <p>
            BCMS was created by Greg Doud, Sr. Instructor at MAX Technical Training.
        </p>
        <p>
            Version: {{version}}, Status: {{status}}, Date: February 21, 2020
        </p>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>
