main {
    text-align: center;
}
section {
    text-align: left;
    width: 70%;
    display: inline-block;
    margin: 70px auto 0 auto;
    padding: 25px;
    border: 1px solid silver;
}
.version, .status {
    font-weight: bold;
    color: red;
}