/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
input { 
    border-radius: 5px;
}
.component-content {
    text-align: center;
}
.component-content table {
    width: 600px;
    margin: 0 auto;
    text-align: initial;
}
.searchbox {
    border: 0;
}
.sortable {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.sortable a {
    cursor: pointer;
}