<app-menu></app-menu>
<header>
    <span>User List</span>
    <span> | </span>
    <span><a routerLink="/users/create" class="">Create</a></span>
    <span> | </span>
    <span><a routerLink="/users/list" class="">Back to list...</a></span>

</header>
<main>
    <table class="table table-sm">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Username</td>
                <td>Phones</td>
                <td>Email</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{u.id}}</td>
                <td>{{u.username}}</td>
                <td>{{u.firstname}} {{u.lastname}}</td>
                <td>C: {{u.cellPhone}}, W: {{u.workPhone}}</td>
                <td>C: {{u.email}}</td>
                <td>C: {{u.role.name}}</td>
                <td>
                    <span><a routerLink="/users/detail/{{u.id}}" class="">Detail</a></span>
                    <span> | </span>
                    <span><a routerLink="/users/edit/{{u.id}}" class="">Edit</a></span>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<footer>

</footer>